#table-crud {
    border: 1px solid black;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#table-crud thead {
    background-color: gray;
    font-weight: bold;
    text-align: center;
}

#table-crud tbody {
    background-color: tomato;
}

#table-crud tbody tr:hover {
    background-color: teal;
    color: white;
}

.btn-crud {
    border: 1px solid black;
    border-radius: 8px;
}

.btn-crud:hover {
    cursor: pointer
}

.loader {
    margin: auto;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    text-align: center;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}