.container {
    border: 1px solid black;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 8px;
}

.form-center {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.form-control {
    border: 1px solid black;
    border-radius: 3px;
}

.checkbox {
    width: 1em;
    height: 1em;
    background-color: white;
    border-radius: 3px;
    vertical-align: middle;
    border: 1px solid black;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

.checkbox:hover {
    border: 1px solid deepskyblue;
}

.checkbox+label {
    cursor: pointer;
}

.checkbox:checked {
    background-color: white;
}

.checkbox:checked::after {
    position: absolute;
    margin-top: -3px;
    color: blue;
    content: '✔';
    /* content: '\2713' */
}

.btn {
    border: 1px solid black;
    border-radius: 8px;
}

.btn:hover {
    cursor: pointer
}